<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ESMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dologin</display-name>
    <servlet-name>Dologin</servlet-name>
    <servlet-class>cn.xr.action.Dologin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dologin</servlet-name>
    <url-pattern>/Dologin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dologout</display-name>
    <servlet-name>Dologout</servlet-name>
    <servlet-class>cn.xr.action.Dologout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dologout</servlet-name>
    <url-pattern>/Dologout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dosignup</display-name>
    <servlet-name>Dosignup</servlet-name>
    <servlet-class>cn.xr.action.Dosignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dosignup</servlet-name>
    <url-pattern>/Dosignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emquery</display-name>
    <servlet-name>Emquery</servlet-name>
    <servlet-class>cn.xr.action.Emquery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emquery</servlet-name>
    <url-pattern>/Emquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmRequery</display-name>
    <servlet-name>EmRequery</servlet-name>
    <servlet-class>cn.xr.action.EmRequery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmRequery</servlet-name>
    <url-pattern>/EmRequery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Readd</display-name>
    <servlet-name>Readd</servlet-name>
    <servlet-class>cn.xr.action.Readd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Readd</servlet-name>
    <url-pattern>/Readd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requery</display-name>
    <servlet-name>Requery</servlet-name>
    <servlet-class>cn.xr.action.Requery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requery</servlet-name>
    <url-pattern>/Requery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redel</display-name>
    <servlet-name>Redel</servlet-name>
    <servlet-class>cn.xr.action.Redel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redel</servlet-name>
    <url-pattern>/Redel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reupdate</display-name>
    <servlet-name>Reupdate</servlet-name>
    <servlet-class>cn.xr.action.Reupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reupdate</servlet-name>
    <url-pattern>/Reupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salcalua</display-name>
    <servlet-name>Salcalua</servlet-name>
    <servlet-class>cn.xr.action.Salcalua</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salcalua</servlet-name>
    <url-pattern>/Salcalua</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salquery</display-name>
    <servlet-name>Salquery</servlet-name>
    <servlet-class>cn.xr.action.Salquery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salquery</servlet-name>
    <url-pattern>/Salquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emout</display-name>
    <servlet-name>Emout</servlet-name>
    <servlet-class>cn.xr.action.Emout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emout</servlet-name>
    <url-pattern>/Emout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rankch</display-name>
    <servlet-name>Rankch</servlet-name>
    <servlet-class>cn.xr.action.Rankch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rankch</servlet-name>
    <url-pattern>/Rankch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rankquery</display-name>
    <servlet-name>Rankquery</servlet-name>
    <servlet-class>cn.xr.action.Rankquery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rankquery</servlet-name>
    <url-pattern>/Rankquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rankdel</display-name>
    <servlet-name>Rankdel</servlet-name>
    <servlet-class>cn.xr.action.Rankdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rankdel</servlet-name>
    <url-pattern>/Rankdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rankadd</display-name>
    <servlet-name>Rankadd</servlet-name>
    <servlet-class>cn.xr.action.Rankadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rankadd</servlet-name>
    <url-pattern>/Rankadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rankupdate</display-name>
    <servlet-name>Rankupdate</servlet-name>
    <servlet-class>cn.xr.action.Rankupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rankupdate</servlet-name>
    <url-pattern>/Rankupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Departquery</display-name>
    <servlet-name>Departquery</servlet-name>
    <servlet-class>cn.xr.action.Departquery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departquery</servlet-name>
    <url-pattern>/Departquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Departdel</display-name>
    <servlet-name>Departdel</servlet-name>
    <servlet-class>cn.xr.action.Departdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departdel</servlet-name>
    <url-pattern>/Departdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Departadd</display-name>
    <servlet-name>Departadd</servlet-name>
    <servlet-class>cn.xr.action.Departadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departadd</servlet-name>
    <url-pattern>/Departadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Departupdate</display-name>
    <servlet-name>Departupdate</servlet-name>
    <servlet-class>cn.xr.action.Departupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departupdate</servlet-name>
    <url-pattern>/Departupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Departch</display-name>
    <servlet-name>Departch</servlet-name>
    <servlet-class>cn.xr.action.Departch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departch</servlet-name>
    <url-pattern>/Departch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Entry</display-name>
    <servlet-name>Entry</servlet-name>
    <servlet-class>cn.xr.action.Entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entry</servlet-name>
    <url-pattern>/Entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emupdate</display-name>
    <servlet-name>Emupdate</servlet-name>
    <servlet-class>cn.xr.action.Emupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emupdate</servlet-name>
    <url-pattern>/Emupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileupload</display-name>
    <servlet-name>Fileupload</servlet-name>
    <servlet-class>cn.xr.action.Fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileupload</servlet-name>
    <url-pattern>/Fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sendfpemail</display-name>
    <servlet-name>Sendfpemail</servlet-name>
    <servlet-class>cn.xr.action.Sendfpemail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sendfpemail</servlet-name>
    <url-pattern>/Sendfpemail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reset</display-name>
    <servlet-name>Reset</servlet-name>
    <servlet-class>cn.xr.action.Reset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emlookup</display-name>
    <servlet-name>Emlookup</servlet-name>
    <servlet-class>cn.xr.action.Emlookup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emlookup</servlet-name>
    <url-pattern>/Emlookup</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Loginfilter</display-name>
    <filter-name>Loginfilter</filter-name>
    <filter-class>cn.xr.util.Loginfilter</filter-class>
  </filter>
  <servlet>
    <description></description>
    <display-name>Emdelete</display-name>
    <servlet-name>Emdelete</servlet-name>
    <servlet-class>cn.xr.action.Emdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emdelete</servlet-name>
    <url-pattern>/Emdelete</url-pattern>
  </servlet-mapping>
</web-app>